{{>sidebar}}
<div class="admin-container">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-12 fw-bold fs-3">Platillos</div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Crear nuevo platillo
                    </div>
                    <div class="card-body">
                        <form action="/api/products/postNewProduct" method="POST" id="form"
                            enctype="multipart/form-data">
                            <div class="row mb-3">

                                {{#if errorMessage}}
                                <div class="my-3">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>{{errorMessage}}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                </div>
                                {{/if}}

                                {{#if error}}
                                <div class="my-3">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>{{error.msg}}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                </div>
                                {{/if}}

                                <div class="col-md-3">
                                    <label for="name" class="form-label">Nombre del platillo</label>
                                    <input type="text" name="name"
                                        class="form-control input-name-product-validation count-string arrow-number" id="name"
                                        placeholder="Nombre del platillo" value="{{product.name}}" required>
                                    <small class="text-danger" id="text-muted"></small>
                                </div>
                                <div class="col-md-3">
                                    <label for="cost" class="form-label">Costo del platillo</label>
                                    <input type="number" name="cost" class="form-control input-number-validation arrow-number"
                                        id="cost" placeholder="Costo del platillo" step="0.01" value="{{product.cost}}"
                                        required>
                                    <small class="text-danger" id="text-muted" hidden>Solo puede ingresar
                                        números</small>
                                </div>
                                <div class="col-md-3">
                                    <label for="price" class="form-label">Precio de venta</label>
                                    <input type="number" name="price" class="form-control input-number-validation arrow-number"
                                        id="price" placeholder="Precio del platillo" step="0.01"
                                        value="{{product.price}}" required>
                                    <small class="text-danger" id="text-muted" hidden>Solo puede ingresar
                                        números</small>
                                </div>
                                <div class="col-md-3">
                                    <label for="cookingtime" class="form-label">Tiempo de preparación</label>
                                    <input type="number" name="cookingtime" class="form-control input-number-validation arrow-number"
                                        id="cookingtime" placeholder="Tiempo de preparación" value="{{product.cookingTime}}"
                                        required>
                                    <div class="form-text">Ingrese el tiempo en minutos no mayor a 60 minutos</div>
                                    <small class="text-danger" id="text-muted" hidden>Solo puede ingresar
                                        números</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 m-auto">
                                    <div id="priceAlert"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="formFile" class="form-label">Imagen</label>
                                    <input type="file" name="image" class="form-control" id="formFile"
                                        accept=".jpg, .jpeg, .png, .webp" required>
                                    <div id="formFile" class="form-text">Ingrese solo imágenes en formato JPG, JPEG o
                                        PNG con un tamaño no mayor a 1Mb</div>
                                </div>
                                <div class="col-md-6">
                                    <label for="description" class="form-label">Descripción</label>
                                    <textarea name="description" rows="4" class="form-control textarea-validation"
                                        style="resize:none" required>{{product.description}}</textarea>
                                    <small class="text-danger" id="text-muted"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <img id="loadedImg" src="" alt="" class="img-fluid">
                                </div>
                            </div>                            

                            <div class="row">
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <input type="submit" class="btn btn-primary" value="Registrar" role="button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Listeners
    document.getElementById('form').addEventListener('submit', formValidation)

    //Image listener
    document.getElementById('formFile').addEventListener('change', loadImage)

    //Functions
    async function formValidation(e) {
        e.preventDefault()
        const priceVal = priceValidation()
        const cookingTime = CookingTime()

        if (priceVal && cookingTime) {
            const confirmation = window.confirm('¿Desea continuar con el registro del producto?')
            if (confirmation) {
                form.submit()
            }
        }
    }

    function CookingTime() {
        const cookingTime = parseFloat(document.getElementById('cookingtime').value, 10)
        if (cookingTime > 60) {
            sendInputAlert('El tiempo no puede ser mayor a 60 minutos', 'alert-danger', 'priceAlert')
            return false
        }
        else if (cookingTime < 10) {
            sendInputAlert('El tiempo no puede ser menor a 10 minutos', 'alert-danger', 'priceAlert')
            return false
        }
        return true
    }

    function priceValidation() {
        const cost = parseFloat(document.getElementById('cost').value, 10)
        const price = parseFloat(document.getElementById('price').value, 10)

        if (cost === 0 || price === 0) {
            sendInputAlert('El costo o precio no puede ser 0', 'alert-danger', 'priceAlert')
            return false
        }

        if (cost < 1 || price < 1) {
            sendInputAlert('El costo o precio no puede ser menor a 1', 'alert-danger', 'priceAlert')
            return false
        }

        if (price < cost) {
            sendInputAlert('El precio no puede ser menor al costo', 'alert-danger', 'priceAlert')
            return false
        }

        if (price > 499 || cost > 499) {
            sendInputAlert('El costo o precio de un producto no puede exceder de los $500', 'alert-danger', 'priceAlert')
            return false
        }

        if (price === cost) {
            sendInputAlert('El precio no puede ser igual al costo', 'alert-danger', 'priceAlert')
            return false
        }

        return true
    }

    //Confirmation modal
    function registrationConfirmation() {
        document.getElementById("backdrop").style.display = "block"
        document.getElementById("exampleModal").style.display = "block"
        document.getElementById("exampleModal").classList.add("show")
    }

    //Load image from input file
    function loadImage() {
        const preview = document.getElementById('loadedImg')
        const file = document.querySelector('input[type=file]').files[0]
        const reader = new FileReader()

        reader.onloadend = function () {
            preview.src = reader.result
        }

        if (file) {
            reader.readAsDataURL(file)
        } else {
            preview.src = ''
        }
    }
</script>