{{>sidebar}}
{{#if manager}}
<div class="admin-container">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-12 fw-bold fs-3">Orden </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Detalle de la orden
                    </div>
                    <div class="card-body">
                        <table class="table table-hover align-middle" id="order-detail-table">
                            <thead>
                                <tr class="text-center">
                                    <th>Restaurant id</th>
                                    <th>Order id</th>
                                    <th>Dish</th>
                                    <th>Quantity</th>
                                    <th>Image</th>
                                    <th>Cooking time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="order-detail-list">
                                {{#each orderDetail}}
                                    <tr class="text-center">
                                        <td>{{this.id_restaurant}}</td>
                                        <td>{{this.id_product}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.quantity}}</td>                                        
                                        <td><img src="/{{this.image}}" class="img-thumbnail" alt="{{this.name}}" width="150px"></td>
                                        <td>{{this.cookingtime}}min</td>
                                        <td>{{this.description}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if admin}}
<div class="admin-container">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-12 fw-bold fs-3">Orders</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Order detail
                    </div>
                    <div class="card-body">
                        <table class="table table-hover align-middle" id="order-detail-table">
                            <thead>
                                <tr class="text-center">
                                    <th>Restaurant id</th>
                                    <th>Order id</th>
                                    <th>Dish</th>
                                    <th>Quantity</th>
                                    <th>Image</th>
                                    <th>Cooking time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="order-detail-list">
                                {{#each orderDetail}}
                                    <tr class="text-center">
                                        <td>{{this.id_restaurant}}</td>
                                        <td>{{this.id_product}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.quantity}}</td>                                        
                                        <td><img src="/{{this.image}}" class="img-thumbnail" alt="{{this.name}}" width="150px"></td>
                                        <td>{{this.cookingtime}}min</td>
                                        <td>{{this.description}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if cooker}}
<div class="admin-container">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-12 fw-bold fs-3">Orders</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Order detail
                    </div>
                    <div class="card-body">
                        <table class="table table-hover align-middle" id="order-detail-table">
                            <thead>
                                <tr class="text-center">
                                    <th>Restaurant id</th>
                                    <th>Order id</th>
                                    <th>Dish</th>
                                    <th>Quantity</th>
                                    <th>Image</th>
                                    <th>Cooking time</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody id="order-detail-list">
                                {{#each orderDetail}}
                                    <tr class="text-center">
                                        <td>{{this.id_restaurant}}</td>
                                        <td>{{this.id_product}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.quantity}}</td>                                        
                                        <td><img src="/{{this.image}}" class="img-thumbnail" alt="{{this.name}}" width="150px"></td>
                                        <td>{{this.cookingtime}}min</td>
                                        <td>{{this.description}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}